---
const { } = Astro.props;
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="max-w-3xl mx-auto text-center p-6 rounded-md shadow-xl dark:shadow-none">
        <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4">
          <span>¿Quieres</span> impulsar <span class="whitespace-nowrap">tu negocio?
          </span>
        </h2>
        <p class="text-xl text-gray-600 dark:text-slate-400">
          Estamos felices de ayudarte con tu proyecto<br class="hidden md:inline" />o emprendimiento
        </p>

        <div class="mt-6">
          <a class="btn text-white bg-blue-600 hover:bg-blue-800 sm:mb-0 font-bold"
            href="#" target="_blank" rel="noopener">Escríbenos
          </a>
        </div>
      </div>
    </div>
  </div>
</section>