---
const { } = Astro.props;
---
<style type="text/css">
    html, body, div, iframe { margin:0; padding:0; height:100%; }
    iframe { display:block; width:100%; border:none; }
</style>
<div class="h-[900px]">
    <iframe class="w-full h-full aspect-[900px]" src="https://template-organic.netlify.app/" frameborder="0" allowfullscreen></iframe>
</div>