---
const { } = Astro.props;

const items = [
  [
    {
      title: "Navegación",
      description:
        "La buena usabilidad ayuda a mejorar el rendimiento de su página web y aumentar sus posibilidades de conseguir más ventas.",
    },
    {
      title: "Adaptación a dispositivos (Responsive)",
      description:
        "Del 70% al 80% de todas las personas visitan un sitio web a través de un dispositivo móvil. Los navegadores web posisionan a los sitios web que tienen un diseño para dispositivos móviles",
    },
    {
      title: "Rendimiento y velocidad de carga",
      description:
        "La velocidad de carga y el rendimiento impactan directamente sus conversiones. Si no quieres que la gente se marche tan pronto de tu página, es mejor que pongas todo tu empeño en asegurar que la página web es lo suficientemente rápida, de manera que los visitantes no pierdan la paciencia.",
    },
  ],
];
---

<section class="scroll-mt-16" id="features">
  <div class="px-4 py-16 mx-auto max-w-6xl lg:px-8 lg:py-20 bg-blue-50 dark:bg-slate-800">
    <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
      <p class="text-base text-blue-600 dark:text-blue-200 font-semibold tracking-wide uppercase">
        Características
      </p>
      <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4">
        Lo interesante de <span
          class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-pink-500 whitespace-nowrap">Idear Agency
        </span>
      </h2>
      <p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
        Un sitio web debe representar la identidad visual de una empresa y transmitir confianza a sus clientes, presentando al usuario una verdadera experiencia.
      </p>
    </div>
    <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
      {
      items.map((subitems) => (
      <div class="space-y-8 sm:px-8">
        {subitems.map(({ title, description }) => (
        <div class="flex flex-row max-w-md">
          <div class="mb-4 mr-4">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-blue-500">
              <svg class="w-12 h-12 p-0.5" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                <g fill="none" fill-rule="evenodd">
                  <rect class="fill-current text-blue-600" width="64" height="64" rx="32" />
                  <g stroke-linecap="square" stroke-width="2">
                    <path class="stroke-current text-white" d="M20.571 20.571h13.714v17.143H20.571z"></path>
                    <path class="stroke-current text-blue-300" d="M38.858 26.993l6.397 1.73-4.473 16.549-13.24-3.58">
                    </path>
                  </g>
                </g>
              </svg>
            </div>
          </div>
          <div>
            <h3 class="mb-3 text-xl font-bold">
              {title}
            </h3>
            <p>
              {description}
            </p>
          </div>
        </div>
        ))}
      </div>
      ))
      }
    </div>
  </div>
</section>